<%
  const generateEntry = function(idx) {
    const string = (Math.random() + 1).toString(36).substring(4);
    return { id: idx, string }
  }

  let data = [];
  for (let i = 0; i < 999; i += 1) {
    const entry = generateEntry(i);
    data.push(entry);
  }
%>

<div class="grid grid-cols-3 gap-3">
  <% for (entry of data) { %>
    <div
      *component:defer.click="PerformanceIf"
      #entry="<%= JSON.stringify(entry) %>"
      class="p-2 border-2 rounded"
    >
      <dialog
        *ref="dialog"
        *sync.modal="modal"
        @click.this="$refs.dialog.close"
        class="w-full max-w-md border-2 rounded bg-white shadow-xl p-0"
      >
        <div class="p-6">
          <div class="flex items-center justify-between">
            <p class="text-sm">
              #<span lass="text-md"><%= entry.id %></span>
            </p>
            <button
              class="button"
              @click="modal = false"
            >Close</button>
          </div>
          <p class="text-2xl mt-2"><%= entry.string %></p>
        </div>
      </dialog>
      <div class="flex items-center justify-between">
        <p class="text-xs">
          #<span class="text-sm"><%= entry.id %></span>
        </p>
        <button
          @click="modal = true"
          class="button compact"
        >⚙️</button>
      </div>
      <p class="text-lg mt-1"><%= entry.string %></p>
      <div class="flex items-center mt-4">
        <button
          @click="count > 0 ?? count -= 1"
          :disabled="count <= 0"
          disabled
          class="button compact"
        >−</button>
        <p
          :text="count"
          :class.text-emerald-700.font-semibold="count >= 5"
          class="flex-1 text-center"
        >0</p>
        <button
          @click="count < 10 ?? count += 1"
          :disabled="count >= 10"
          class="button compact"
        >+</button>
      </div>
    </div>
  <% } %>
</div>
