---
layout: default
allTags:
  - v-event
  - v-ref
  - v-bind
  - v-data
  - v-compute
  - v-method
  - v-pass
  - v-store
  - v-class
  - v-disabled
  - v-href
  - v-if
  - v-for
  - v-show
  - v-src
  - v-style
  - v-sync
  - v-text
  - $stored
  - $passed
  - computed
  - watch
  - beforeConnected
  - connected
  - beforeDestroyed
  - destroyed
  - beforeDehydrated
  - dehydrated
  - $attach
  - $refs
  - $emit
---

<div
  v-component="index"
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-8"
>
  <div class="md:col-span-2 lg:col-span-3">
    <input
      v-sync="filterText"
      type="text"
      class="w-full"
      placeholder="Search examples..."
    ></input>
    <div class="flex flex-wrap items-center mt-4">
      <% for (tag of allTags) { %>
        <%
          let classesOff, classesOn;
          if (tag.startsWith('v-')) {
            classesOff = ['bg-emerald-100', 'text-emerald-900', 'hover:bg-emerald-500', 'hover:text-white'];
            classesOn = ['bg-emerald-500', 'text-white'];
          } else {
            classesOff = ['bg-indigo-100', 'text-indigo-900', 'hover:bg-indigo-500', 'hover:text-white'];
            classesOn = ['bg-indigo-500', 'text-white'];
          }
        %>
        <button
          v-component="filter-tag"
          v-bind:update-filter
          v-data:tag="<%= JSON.stringify(tag) %>"
          v-pass:filter-tag
          v-event:click="toggleFilter"
          v-class:<%= classesOff.join('::') %>="filterTag !== tag"
          v-class:<%= classesOn.join('::') %>="filterTag === tag"
          class="rounded text-xs uppercase font-semibold px-2 py-1 mr-1 mt-1"
        ><%= tag %></button>
      <% } %>
    </div>
  </div>

  <% examples.forEach(exampleGroup => { %>
    <%
      const groupTags = exampleGroup.examples
        .map(e => (e.tags || []))
        .flat()
        .filter(list.uniqueness)
        .sort(list.directives);
    %>
    <div
      v-component="example-group"
      v-if="shouldShow"
      v-data:example-group="<%= JSON.stringify(exampleGroup) %>"
      v-data:tags="<%= JSON.stringify(groupTags) %>"
      v-pass:filter-tag
      v-pass:filter-text
    >
      <a href="<%= exampleGroup.id %>">
        <div class="border rounded bg-white shadow-md hover:shadow-xl active:shadow-none p-4">
          <p class="text-xl font-medium"><%= exampleGroup.name %></p>
          <p class="text-gray-700 mt-2 h-12"><%= exampleGroup.description %></p>
        </div>
      </a>
      <div class="flex flex-wrap items-center mt-1 ml-2 mr-1">
        <%- include('/tags', { tags: groupTags }); %>
      </div>
    </div>
  <% }); %>
</div>
